# Dependency directories
node_modules

# Build output
/dist
/build
/out

# Version control directories
.git

# Logs
*.log

# Other common directories to ignore
/public
/assets

# Minified files
# Source maps
# Image files
*.png
*.jpeg

# Test fixtures
test/testresult/__fixtures__/**/*.json
test/coverage/__fixtures__/**/*.json
test/__fixtures__/main/**
test/testresult/__outputs__/**
test/testresult/parsers/__outputs__/**
test/coverage/__outputs__/**
